<SCRIPT language="VBScript">
    Sub OKClicked
        If UserOption(0).Checked Then
            ButtonClicked.Value = "Option 1"
        End If
        If UserOption(1).Checked Then
            ButtonClicked.Value = "Option 2"
        End If
        If UserOption(2).Checked Then
            ButtonClicked.Value = "Option 3"
        End If
    End Sub

    Sub CancelClicked
        ButtonClicked.Value = "Cancelled"
    End Sub
</SCRIPT>

<BODY>
    <input type="radio" name="UserOption" checked=True>Option 1<BR>
    <input type="radio" name="UserOption">Option 2<BR>
    <input type="radio" name="UserOption">Option 3<P>
    <input type="Button" value="OK" onClick="OKClicked">
    <input type="Button" value="Cancel" onClick="CancelClicked">
    <input type="hidden" name="ButtonClicked">
</BODY>